.app {
  background-color: #242d7b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-component {
  position: absolute;
  top: 0px;
  width: 100%;

    h1 {
      font-family: 'Bangers', cursive;
      text-align: center;
      text-transform: uppercase;
    }

    button {
      border: none;
      background: none;
      color: white;
      font-size: calc(20px + 2vmin);

      position: absolute;
      top: 20px;
      right: 20px;
    }
}

.infobox {
  height: 80vh;
  width: 80%;
  padding: 10px 20px;
  color: black;
  background-color: whitesmoke;
  box-shadow: 5px 5px 15px 10px black;
  border-radius: 8px;

  position: absolute;
  top: calc(65px + 2vmin);
  left: 8%;

  overflow: auto;


    h2{
      text-align: center;
    }
}