.app {
  background-color: #242d7b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-component {
  position: absolute;
  top: 0px;
  width: 100%;

    h1 {
      font-family: 'Bangers', cursive;
      text-align: center;
      text-transform: uppercase;
    }

    button {
      border: none;
      background: none;
      color: white;
      font-size: calc(20px + 2vmin);

      position: absolute;
      top: 20px;
      right: 20px;
    }
}

.play-button {
  background: none;
  border: none;

    img {
      width: 300px;
    }
}

.game-component {

  .play-card {

    position: relative;
    
    .back {
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      background-color: white;
      width: 300px;
      height: 400px;
      border: 2px solid black;
      border-radius: 10px;
      box-shadow: 0px 0px 5px 5px black;

      position: absolute;
      top: calc(50% - 200px);
      left: calc(50% - 150px);
        
      transform: rotateY(0deg);
      transition: all ease-in 1s;

      &.flip{
        transform: rotateY(90deg);
        transition-delay: 1s;
      }

        img {
          width: 200px;
        }
    }
      
    .front {
      color: black;
      text-align: center;
      padding: 2px;
      background-color: white;
      width: 300px;
      height: 400px;
      border: 2px solid black;
      border-radius: 10px;
      box-shadow: 0px 0px 5px 5px black;

      position: absolute;
      top: calc(50% - 200px);
      left: calc(50% - 150px);
        
      transform: rotateY(90deg);
      transition: all ease-in 1s;

      &.flip{
          transform: rotateY(0deg);
          transition-delay: 1s;
      }
        
        img {
          width: 200px;
          margin-top: 45px;
        }
    }
  }

  .game-button {
    background: none;
    border: none;
  
    position: absolute;
    bottom: 50px;
    left: calc( 50% - 150px );
  
      img {
        width: 300px;
      }
  }
}

.infobox {
  height: 80vh;
  width: 80%;
  padding: 10px 20px;
  color: black;
  background-color: whitesmoke;
  box-shadow: 5px 5px 15px 10px black;
  border-radius: 8px;

  position: absolute;
  top: calc(65px + 2vmin);
  left: 8%;

  overflow: auto;


    h2{
      text-align: center;
    }

    .dropdown {
      position: absolute;
      top: 10px;
      left: 10px;
    }
}